@model blog.Models.User

@{
    ViewData["Title"] = Model.UserName + " Silme";
    Layout = "_AdminLayout";
}

<h1 class="text-white">@Model.UserName</h1>
<h3 class="text-white">kullanıcısını silmek istediğinize emin misiniz?</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="userDelete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a  class="btn btn-info" asp-action="users" asp-controller="admin">Kullanıcı Listesi</a>
    </form>
</div>
